* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}


.container {
  display: flex;
}

.sidebar {
  background-color: #fff;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.profile-container {
  text-align: center;
  margin-bottom: 30px;
}

.club-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.upload-btn {
  margin-top: 10px;
  background-color: #ff6f61;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #e25c51;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav ul li {
  margin-bottom: 15px;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.sidebar-nav ul li a:hover {
  color: #ff6f61;
}

.main-content {
  padding: 40px;
  flex-grow: 1;
}

h2 {
  margin-bottom: 20px;
  color: #ff6f61;
}

.club-settings-form {
  max-width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
}

.save-btn {
  background-color: #ff6f61;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.save-btn:hover {
  background-color: #e25c51;
}

[operation="admin-tag"]
{
  margin-top: 10px;
  margin-right: 10px;
  background-color: #43aa43;
  
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

[operation="admin-tag"]:hover
{
  background-color: #43aa43;
}